.select-control {
  display: flex;
  align-items: center;
  height: 36px;
  border: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 6px;
}

.select-control.open,
.select-control:focus {
  border-bottom: 2px solid #0066cc;
}

.clear {
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.clear:before,
.clear:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.clear:before {
  transform: translateY(-50%) rotate(-45deg);
}

.clear:after {
  transform: translateY(-50%) rotate(45deg);
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
}

.arrow.open {
  transform: rotate(180deg);
}
