.select {
  width: 250px;
  position: relative;
  font-family: sans-serif;
  outline: none;
}

.select input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: black;
  background-color: transparent;
}

.options {
  position: relative;
  width: 100%;
  min-height: 15px;
  height: auto;
  max-height: 250px;
  overflow-y: auto;
}

.options__list {
  position: relative;
  width: 100%;
}

.options__item {
  position: absolute;
  width: 100%;
  padding: 5px 10px;
  color: #000;
  background-color: #FFF;
  list-style-type: none;
}

.options__item:hover {
  background-color: #f0f0f0;
}

.hover {
  background-color: #e8e8e8;
}

.selected {
  background-color: #dedede;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
