.select {
  display: flex;
  width: 250px;
  position: relative;
  font-family: sans-serif;
  outline: none;
}

.up{
  flex-direction: column-reverse;
}

.down{
  flex-direction: column;
}

.select input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: black;
  background-color: transparent;
}
